* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 1266px;
    margin: 0 auto;
}

.dark-background-wrapper {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    margin-bottom: 88px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    align-items: center;
}

nav {
    display: flex;
    gap: 14px;
    align-items: center;
}

nav a,
.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

.hero {
    display: flex;
    padding-bottom: 88px;
    line-height: 1.6;
}

.hero > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 60%;
    line-height: 0.9;
}

.hero-text {
    width: 80%;
}

.hero-cta {
    color: #f9faf8;
    background-color: #3882f6;
    text-decoration: none;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 7px;
    font-size: 18px;
    align-self: flex-start;
}

.hero-img {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #888888;
}
main {
    margin-top: 42px;
    margin-bottom: 72px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info-card-placeholder {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 11px;
    margin-bottom: 14px;
}

.info-card-text {
    width: 50%;
    line-height: 1.6;
    font-size: 14px;
    text-align: center;
}

.gray-background {
    background-color: #e5e7eb;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 112px 0;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    text-align: left;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    color: #1f2937;
    font-weight: bold;
    text-align: right;
}

.cta {
    background-color: #3882f6;
    border-radius: 7px;
    padding: 48px 150px;
    margin: 92px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.cta-text {
    color: white;
    font-size: 14px;
}

.cta-btn {
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 10px 32px;
    border-radius: 11px;
}

.footer {
    padding: 44px;
}

.footer-text {
    color: white;
    font-size: 14px;
    text-align: center;
}
