* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 1266px;
    margin: 0 auto;
}

.dark-background-wrapper {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    margin-bottom: 88px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    align-items: center;
}

nav {
    display: flex;
    gap: 14px;
    align-items: center;
}

nav a,
.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

.hero {
    display: flex;
    padding-bottom: 88px;
    line-height: 1.6;
}

.hero > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 60%;
    line-height: 0.9;
}

.hero-text {
    width: 80%;
}

.hero-cta {
    color: #f9faf8;
    background-color: #3882f6;
    text-decoration: none;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 7px;
    font-size: 18px;
    align-self: flex-start;
}

.hero-img {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #888888;
}
